
@import "variables";

@import "libs/material-ui/material-ui";
@import "libs/react";
@import "libs/rc-queue-anim";

// Pages
@import "pages/demo";
@import "pages/auth";
@import "pages/error";
@import "pages/lock-screen";
@import "pages/profile";
@import "pages/invoice";
@import "pages/dashboard";
@import "pages/maintenance";
@import "pages/about";
@import "pages/faqs";
@import "pages/terms";
@import "pages/blog";

